SIGNCAPTURE_HOST=127.0.0.1
SIGNCAPTURE_PORT=8000
SIGNCAPTURE_SSL_ENABLED=false
SIGNCAPTURE_SSL_CERTFILE=
SIGNCAPTURE_SSL_KEYFILE=
SIGNCAPTURE_CORS_ALLOWED_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000","http://localhost:5173","http://127.0.0.1:5173"]
SIGNCAPTURE_MAX_VIDEO_FRAMES=300
SIGNCAPTURE_MAX_FRAME_BYTES=5000000
SIGNCAPTURE_MAX_VIDEO_BYTES=100000000
